.button-review{
    border: 1px solid lime;
    color: white;
    background-color: lime;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    transition: all linear 0.3s;
}
.ico{
height: 0;
width: 0;
visibility: hidden;
}
.button-review:hover .ico{
    padding-left: 5px;
    padding-right: 5px;
    visibility: visible;
}
.button-review:hover{
    background-color:white ;
    color: lime;
}